.bar {
  width: 100%; /* Ширина бара */
  height: 2px;
  background-color: rgba(226, 226, 226, 1);
  position: relative;
}

.bar__thumb {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid rgba(144, 112, 236, 1);
  background-color: rgba(255, 255, 255, 1);
  top: -13px;
  transform: translateX(-50%);

  &--right {
    right: 10px;
  }

  &--left {
    left: 12px;
  }
}

