.catalog {
  background-color: rgba(248, 248, 248, 1);
}

.catalog__products {
  margin-bottom: 40px;
}
.catalog__wrapper {
  width: 280px;
  margin: 0 auto;
}

.catalog__select{
  background-color:rgba(248, 248, 248, 1);
  width: 170px;
  padding-right: 10px;
}
