.catalog {
  background-color: rgba(248, 248, 248, 1);
}

.catalog__container {
  @media (min-width: $tablet-width) {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.catalog__products {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
  }
}

.catalog__wrapper {
  padding-top: 77px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 728px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    padding: 100px 0 40px;
  }
}

.catalog__select {
  background-color: rgba(248, 248, 248, 1);
  width: 170px;
  padding-right: 10px;
}

.catalog__container-form {
  @media (min-width: $desktop-width) {
    display: flex;
    position: relative;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 5px;
}

.catalog__subtitle {
  margin: 0;
  margin-bottom: 19px;
}
