.developer__text {
  font-family: inherit;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(189, 189, 189, 1);
  padding-right: 4px;
}

.developer__link {
  font-family: inherit;
  color: rgba(189, 189, 189, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.developer__img {
  width: 12px;
  height: 16px;
  margin-left: 4px;
}
