
.features__wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.features__title {
  margin: 0;
  word-wrap: break-word;
}

.features__subtitle {
  margin: 0;
  margin-bottom: 36px;
  word-wrap: break-word;
}
