.field-check__item {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 15px;
}

.field-check__label {
  margin-left: 50px;
  margin-top: -3px;
}

.field-check__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}

.field-check__text {
  display: block;
  position: relative;
  padding-left: 50px;
  padding-bottom: 6px;
}

.field-check__text::before {
  display: block;
  content: "";
  width: 42px;
  height: 24px;
  position: absolute;
  border-radius: 12px;
  left: 0;
  top: 0;
  background-color: rgba(189, 189, 189, 1);
}

.field-check__text::after {
  display: block;
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
}

.field-check__input:checked + .field-check__text::before {
  background-color: rgba(120, 89, 207, 1);
}

.field-check__input:checked + .field-check__text::after {
  background-color: rgba(255, 255, 255, 1);
  left: 20px;
}

.field-check__input:disabled + .field-check__text::before {
  background-color: rgba(226, 226, 226, 1);
}

.field-check__input:disabled + .field-check__text::after {
  background-color: rgba(255, 255, 255, 1);
}

