.form__group {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.form__button {
  width: 100%;
  font-family: inherit;
  margin-bottom: 20px;
  &--reset{
    background-color:rgba(255, 255, 255, 1);
    color: rgba(120, 89, 207, 1);
    margin-bottom: 44px;
  }
}

