.info {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content max-content 197px;
    column-gap: 94px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: max-content max-content 300px;
    column-gap: 170px;
  }
}

.info__about-list {
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}

.info__about {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.info__contacts {
  margin-bottom: 41px;
}
