.main-header{
background-color: rgba(255, 255, 255, 1);
min-width: 60px;

}

.main-header__wrapper{
display: flex;
margin: 0 auto;
width: 280px;
align-items: center;
}
.main-header__logo{
  margin-right: auto;
}
