.page-main__features {
  margin: 50px 0 60px;

}

.page-main__catalog {
  padding: 50px 0 44px;
}

.page-main__slider {
  @media (min-width: $desktop-width) {
    padding-bottom: 60px;
  }
}

.page-main__map {
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}
