.pagination__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination__wrapper {
  width: 280px;
  margin: 0 auto;
}

.pagination-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 1);
  &--active{
    background-color: rgba(248, 248, 248, 1);
  }
}

.pagination-item__link {
  font-family: inherit;
  color: rgba(120, 89, 207, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.pagination__link--active{
  font-weight: 600;
    color: rgba(51, 51, 51, 1);
}
