.select {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  border: none;
  text-transform: lowercase;
  display: inline;
  color: rgba(120, 89, 207, 1);
}
