.site-list__item {
  padding: 23px 0 22px;
  border-top: 1px solid rgba(230, 230, 230, 1);
  z-index: 4;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    border: none;
  }
}

.site-list__link {
  color: rgba(120, 89, 207, 1);
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;

  &:active:not(.site-list__link--active) {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 20px;
    color: rgba(51, 51, 51, 1);
  }
}

.site-list__link--active {
  @media (min-width: $tablet-width) {
    text-decoration: underline;
    text-underline-offset: 37px;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(120, 89, 207, 1);
    color: rgba(120, 89, 207, 1);
  }
}
