.promo {
  background: $flat-white;

  @media (min-width: $tablet-width) {
    background: linear-gradient(180deg, $promo-background-1 0%, $promo-background-1 77%, $promo-background-2 77%);
  }
}

.promo__wrapper {
  position: relative;
}

.promo__carousel {
  overflow: hidden;

  @media (min-width: $tablet-width) {
    overflow: hidden;
    padding-top: 60px;
  }
}

.promo__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  position: relative;
  transition: transform 1s ease;
  left: 0;
}

.promo__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 728px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1360px;
    flex-direction: row-reverse;
    justify-content: center;

  }
}

.promo__img-container {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: center;
    order: 3;
  }
}

.promo__badge {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  text-align: center;
  color: $base-primary;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.promo__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row-reverse;
    align-items: center
  }
}

.promo__content {
  display: flex;
  flex-direction: column;
}

.promo__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.24px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 57px;
    line-height: 80px;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.promo__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    align-self: center;
    width: 600px;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 41px;
  }
}

.promo__text-wrapping {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.promo__price-old {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: line-through;
  color: $base-primary;
  margin-right: 2px;
  margin-left: 25px;

  @media (min-width: $tablet-width) {
    margin-right: 2px;
    margin-left: 0;
  }
}

.promo__price-new {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-right: 15px;
}

.promo__button-order {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 20px;
  background-color: $base-primary;
  color: $base-white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.promo__button-order:hover,
.promo__button-order:focus {
  background: $primary-lighter;
}

.promo__button-order:active {
  background: $primary-darker;
}

.promo__button-order:disabled {
  background: $base-grey;
  cursor: auto;
}

@media (min-width: $tablet-width) {

  .promo__price-block {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {

  .promo__text-wrapping {
    display: block;
  }

  .promo__price-block {
    text-align: left;
  }
}

.promo__button-prev,
.promo__button-next {
  position: absolute;
  height: 100%;
  width: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 0;

  @media (min-width: $tablet-width) {
    height: 670px;
    width: 80px;
    z-index: 5;
  }
}

.promo__button-prev {
  left: 0;
}

.promo__button-next {
  right: 0;
}

.promo__button-prev::before {
  content: '';
  position: absolute;
  background-image: url('../../images/icons/stack.svg#arrow');
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 300px;
  width: 11px;
  height: 20px;
}

.promo__button-next::before {
  content: '';
  position: absolute;
  background-image: url('../../images/icons/stack.svg#arrow');
  width: 11px;
  height: 20px;
  right: 5px;
  rotate: 180deg;

  @media (min-width: $tablet-width) {
    right: 35px;
    top: 320px;
  }

  @media (min-width: $desktop-width) {
    top: 357px;
  }
}

.promo__button-next::before {
  left: 5px;
  top: 300px;

  @media (min-width: $tablet-width) {
    left: 35px;
  }

  @media (min-width: $desktop-width) {
    top: 336px;
  }
}

.promo__button-prev:hover,
.promo__button-prev:focus {
  background: linear-gradient(90deg, $base-white 0%, $promo-btn-hover 100%);
}

.promo__button-next:hover,
.promo__button-next:focus {
  background: linear-gradient(270deg, $base-white 0%, $promo-btn-hover 100%);
}

.promo__button-prev:active {
  background: linear-gradient(90deg, $promo-btn-active-1 0%, $promo-btn-active-2 100%);
}

.promo__button-next:active {
  background: linear-gradient(270deg, $promo-btn-active-1 0%, $promo-btn-active-2 100%);
}

.promo__button-prev:disabled.promo__button-prev::before {
  background-image: url('../../images/icons/stack.svg#arroy-icon-disabled');
  cursor: not-allowed;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 20px;
  height: 20px;
  right: 5px;

  @media (min-width: $tablet-width) {
    right: 35px;
  }
}

.promo__button-next:disabled.promo__button-next::before {
  background-image: url('../../images/icons/stack.svg#arroy-icon-disabled');
  cursor: not-allowed;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 20px;
  height: 20px;
  left: 5px;
  top: 49%;

  @media (min-width: $tablet-width) {
    left: 35px;
    top: 36%;
  }

  @media (min-width: $desktop-width) {
    top: 52%;
  }
}

.promo__button-prev:disabled.promo__button-prev,
.promo__button-next:disabled.promo__button-next {
  cursor: not-allowed;
  background: transparent;
}

@media (min-width: $desktop-width) {
  .promo {
    margin-bottom: 0;
    background: $flat-white;
    padding-bottom: 61px;
  }

  .promo__carousel {
    overflow: hidden;
    padding-bottom: 19px;
  }
}
