.map__img {
  object-fit: cover;
  height: 420px;
  display: flex;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    height: 540px;
  }
}

.map__container {
  min-width: 320px;
  height: 420px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    height: 480px;
    min-width: 678px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    height: 540px;
  }
}
